<div class="page-header">
  <h1>About</h1>
</div>
<p class="lead">Este proyecto es un esqueleto configurado en bootstrap (Cabecera,Cuerpo,Pie).</p>
<button type="button"  class="btn btn-primary btn-lg" (click)="abrirModal()">
    Cargar la venta modal alert.
</button>

<button type="button"  class="btn btn-primary btn-lg" (click)="abrirConfirmar()">
    Cargar la venta modal confirmar.
</button>
<button type="button"  class="btn btn-primary btn-lg" (click)="abrirComponente()">
    Cargar la venta modal componente.
</button>
