.classpath
build
service/build
bom/build
.project
.settings
.gradle
bom/.classpath
service/.classpath
/webapp/src/main/webapp/WEB-INF/cliente/node_modules
webapp/src/main/webapp/WEB-INF/cliente/.idea/workspace.xml
webapp/src/main/webapp/WEB-INF/cliente/npm-debug.log