<div class="row">
    <div  class="col-md-6">
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" (click)="paginar(1,$event)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let pag of paginas" [class.active]="pagina==pag" ><a href="#" (click)="paginar(pag,$event)">{{pag}}</a></li>
          <li>
            <a href="#" aria-label="Next" (click)="paginar(numeroDePaginas,$event)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div  class="col-md-6">
      <br/>
       Pagina <span class="badge">{{pagina}}</span> de <span class="badge">{{numeroDePaginas}}</span> Elementos <span class="badge">{{filas.length}}</span>

    </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>

          <th *ngFor="let columna of columnas">
              <a (click)="ordenar(columna)" >{{columna.descripcion}}
              <span
                  class="glyphicon"
                  [class.glyphicon-sort-by-attributes]="esColumnaActiva(columna) && columna.direccion===1"
                  [class.glyphicon-sort-by-attributes-alt]="esColumnaActiva(columna) && columna.direccion===-1"
                  [class.glyphicon-sort]="!esColumnaActiva(columna)"
                  [class.grid-column-no-selected]="!esColumnaActiva(columna)"
                  aria-hidden="true"></span>
              </a>
          </th>
          <th> Operaciones</th>
      </tr>
    </thead>
    <tr *ngIf="ventana.length == 0">
      <td >
        No hay datos
      </td>
    </tr>
    <tr *ngFor="let fila of ventana" (dblclick)="onSeleccionar(fila)">
        <td *ngFor="let columna of columnas"
          (keyup.control.F6)="accionF6(columna,fila)"
          (keyup.control.Delete)="onEliminar(fila)"
          (keyup.control.F1)="onHelp()"
          >
          <span  *ngIf="columna.tipo==='noEditable'">{{fila[columna.nombre]}}</span>
          <input *ngIf="esInput(columna)" type="text" class="form-control" [(ngModel)]="fila[columna.nombre]"
            (change)="onCambio(fila)" (keyup.control.enter)="nuevaLinea(columna)" />
          <select *ngIf="esSelect(columna)"  class="form-control" [(ngModel)]="fila[columna.nombre]">
              <option *ngFor="let elemento of columna.valores" value="{{elemento}}">{{elemento}}</option>
          </select>
        </td>
        <td>
          <span class="glyphicon glyphicon-trash" (click)="onEliminar(fila)"></span>
        </td>
    </tr>
</table>
