<div #mensajeria></div>
<form (ngSubmit)="onSubmit()" #formularioForm="ngForm">
	<div class="row">
		<div  class="col-md-6 form-group">
			<label>id</label>
			<input type="text" class="form-control" [(ngModel)]="modelo.id"/>
		</div>
		<div  class="col-md-6 form-group">
			<label>nombre</label>
			<input type="text" class="form-control" [(ngModel)]="modelo.nombre"/>
		</div>
	</div>
	<div class="row">
		<div  class="col-md-6 form-group">
			<label>Comunidad Autonoma</label>
			<input type="text" class="form-control" [(ngModel)]="modelo.comunidadAutonoma"/>
		</div>
		<div  class="col-md-6 form-group">
			<br/>
			<button type="button" class="btn btn-success" (click)="consultar()"> Consultar </button>
		</div>
	</div>
	<dbp-grid [columnas]="columnas" [filas]="lineas"></dbp-grid>
</form>
