<div class="page-header">
  <h1>Filtro Asiento</h1>
</div>
<div #mensajeria></div>
<p class="lead">Buscar los datos de los asientos</p>
<form (ngSubmit)="onSubmit()" #formularioForm="ngForm">
  <div class="row">
    <div class="col-md-6 form-group">
        <label>id</label>
        <input type="text" class="form-control"
        [(ngModel)]="modelo.id" [autofocus] />
    </div>
    <div class="col-md-6 form-group">
        <label>Descripcion</label>
        <input type="text" class="form-control"
        [(ngModel)]="modelo.descripcion" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
        <label>Cuenta</label>
        <input type="text" class="form-control"
        [(ngModel)]="modelo.cuenta" />
    </div>
    <div class="col-md-6 form-group">
        <label>Concepto</label>
        <input type="text" class="form-control"
        [(ngModel)]="modelo.concepto" />
    </div>
  </div>

	  <button type="submit" class="btn btn-success">Consultar</button>
	  <button type="button" class="btn btn-info" (click)="crear()">Crear</button>
  <dbp-grid [columnas]="columnas" [filas]="lineas"
    (seleccionar)="seleccionar($event)"
    (eliminar)="eliminarLinea($event)" ></dbp-grid>
</form>
