<div class="page-header">
  <h1>Asiento contable</h1>
</div>
<div id="mensajeria"></div>
<p class="lead">Esta la operación del asiento.</p>
<form (ngSubmit)="onSubmit()" #formularioForm="ngForm">
  <div class="row">
      <div class="col-md-6 form-group">
          <label>id</label>
          <p class="form-control-static">{{modelo.id}}</p>
      </div>
      <div  class="col-md-6 form-group">
          <label>Descripción</label>
          <input type="text" class="form-control"
          [(ngModel)]="modelo.descripcion"
          [autofocus]
          />
      </div>
  </div>
  <button type="submit" class="btn btn-success">{{etiquetaEstado}}</button>
  <button *ngIf="isModificar()" type="button" class="btn btn-danger" (click)="eliminar(modelo.id)"> eliminar </button>
  <button type="button" class="btn btn-info" (click)="volver()">volver</button>
  <dbp-grid [columnas]="columnas" [filas]="modelo.lineas"
      (crearNuevaLinea)="crearNuevaLinea()"
      (accion)="accion($event)"
      (eliminar)="eliminarLinea($event)">
  </dbp-grid>

</form>
