<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TFC (D.B.P.)</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
           <li [class.active]="activeOpcionMenuClass('/Inicio')"><a [routerLink]="['./Inicio']">Inicio</a></li>
           <li [class.active]="activeOpcionMenuClass('/PersonaFisica')"><a [routerLink]="['./PersonaFisica']">Persona Fisica</a></li>
           <li [class.active]="activeOpcionMenuClass('/CuentaContable')"><a [routerLink]="['./CuentaContable']">Cuenta contable</a></li>
           <li [class.active]="activeOpcionMenuClass('/Asiento')"><a [routerLink]="['./Asiento']">Asiento</a></li>
           <li [class.active]="activeOpcionMenuClass('/About')"><a [routerLink]="['./About']">Popup</a></li>
           <li [class.active]="activeOpcionMenuClass('/Contacto')"><a [routerLink]="['./Contacto']">Contacto</a></li>
        </ul>
    </div>
  </div>
</nav>
